*{
    box-sizing: border-box;
    font-family: fantasy;

}
body{
    background: url(../img/user.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: rale;
    
}
form{
    width: 60%;   
}
.contenedor{
    width: 60%;
    margin-top: 20px;
    padding: 30px 40px;
}
.foto{
    margin: auto;
    
}
.foto img{
    width: 150px;
    height: 100px;
}
.foto input{
    width: 150px;
    margin-left:25px;

}

::placeholder{
    font-family:rale;
}
input{
    width: 100%;
    margin-bottom: 18px;
    padding: 15px;
    font-size: 15px;
} 
#boton{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 0;
    text-align: center;
    background: rgba(255, 0, 0, 0.0);
    color: rgb(180, 92, 92);
    margin-top: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}




