
*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    /* background: linear-gradient(to bottom, 
    rgba(211, 135, 20, .6),
    rgba(29, 241, 171, .6), 
    rgba(7, 109, 150, .45),
    rgba(255, 0, 255, .3),
    rgba(128, 0, 128, .3)); */
     /* url(../../../../public/vista/img/nature-lake-landscape-reflection-fog-lake-sunrise-blue-tree-ultrahd-4k-wallpaper-160673.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    text-align: center; 
    font-family: rale;   
}

h1{
    
    font-family: rale;
    top: 200;
}
table{
    top: 200px;
    position: absolute;
    width: 100%;
    height: 10px;
    margin-left: center;
    border: 2px solid #fff;
    border-collapse: collapse;
    color: #000;
}
table th{
    border: 2px solid #fff;
    padding: 5px;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, .6),
    rgba(0, 0, 0, .6));

}
table td{
    border: 2px solid #fff;
    padding: 5px;
    
}
table td a{
    text-decoration: none;
    color: #000;  
}
table td img{
    width: 90px;
    height: 60px;
}

table td a:hover{
    color: #fff;  
}


table td:hover{
    background: #000;
    color: #fff;
    
}

table tr:hover{
    background: linear-gradient(to bottom,
    rgba(0, 255, 247, .9),
    rgba(0, 157, 152, .9),
    rgba(0, 123, 119, .9),
    rgba(0, 78, 76, .9),
    rgba(0, 0, 0, .9));
    color: #000;  
}

.cerrarSeccion{
    width: 100%;
    height: 70px;
    background: #000;
}







body .floatWindow{
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease 1s;
    display: none;
    
}body .floatWindow .window{
    width: 40%;
    margin-top: 70px;
}
body .floatWindow .window p span{
    color: #e35d5b;
}
body .floatWindow .window p{
    margin-top: 15px;
    text-align: left;
    border-bottom: 1px solid #e35d5b;
    padding: 10px 0;
}
body .floatWindow .window p.msj{
    background-color: #FBF7F4;
    border: 1px solid #e35d5b;
    padding: 15px;
    height: 20%;
    text-align: justify;
}
body .floatWindow .window input{
    background-color: #e53935;
    width: 15em;
    border-radius: 20px;
    padding: 15px 0;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FBF7F4;
    font-size: 1em;
    border: none;
}


@font-face {
    font-family: rale;
    src: url(../../../../public/vista/fuentes/Raleway-Regular.ttf)
}




