*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.buscar{
    width: 20%;
    height: 31px;
    border: 1px solid;
    display: flex;
    justify-content: right;
}
.buscar button{
    width: 50px;
    height: 29px;
    border-right: 1px solid; 


}
.buscar input{
    width: 500px;
    height: 29px;
    font-size: 15px;

}



