*{
    border: 0;
    margin: 0;
    padding: 0;
}
header {
    top:0px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, .8);
    height: 70px;
    position: fixed;
    z-index: 10;
}

.ancho {
    width: 70%;
    height: 70px;


}
.imag{
    width: 30%;
    height: 70px;

    display: flex;
    justify-content: flex-end;
    align-items: center;


}
.imag img{
    width: 90px;
    margin-right: 5px;
    
    
}
.imag span label{
    color: #fff;
}


nav {

    height: 70px;
    /* background: olive; */
    float: left;
    text-align: right;
    padding-top: 24px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
}

nav ul li a:hover {
    color: #44C6DA;
    border-bottom: 2px solid #44DAAE;
    transition: 0.6s;
}